
.my-container {
  margin-top: 10px;
  background: rgba(100, 200, 255, .5);
  border: 2px solid rgba(0, 0, 0, .5);
  padding: 5px;
  border-radius: 5px;
}

#input {
  width: 100%;
  height: 100px;
  resize: none;
  overflow-y: scroll;
  font-size: 30px;
}

#output {
  height: 40px;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 1px;
  font-size: 25px;
}

.my-rmpadding {
  padding: 0;
}

.my-left-group, .my-right-group {
  background: rgba(0, 0, 0, .1);
  border: 1px solid rgba(0, 255, 0, .5);
  border-radius: 10px;
  padding: 5px;
  margin-top: 1px;
}

.my-left-group>*, .my-right-group>* {
  margin-top: 3px;
}

.my-extend > * {
  margin-bottom: 2px;
}
